<?xml version="1.0" encoding="utf-8" ?>
<config>
	<fieldset name="visform-result-details" label="COM_VISFORMS_FIELDSET_RESULT">
		<field type="spacer" name="a1" label="COM_VISFORMS_CONFIG_USE_DESCRIPTION" />
		<field name="saveresult" type="radio"
			   class="btn-group btn-group-yesno switcher"
			   label="COM_VISFORMS_SAVE_RESULT"
			   description="COM_VISFORMS_SAVE_RESULT_DESC"
			   default="0"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="redirecturl" class="longfield inputbox" type="text" label="COM_VISFORMS_REDIRECT_URL"
			   description="COM_VISFORMS_REDIRECT_URL_DESC" maxlength="250"/>
		<field name="downloadid" type="hidden" default="" size="30"
			   label="COM_VISFORMS_FIELD_DOWNLOADID_LABEL"
			   description ="COM_VISFORMS_FIELD_DOWNLOADID_DESC"/>
		<field name="gotSubUpdateInfo" type="hidden" default="" size="30"
			   label="COM_VISFORMS_FIELD_GOTSUBUPDATEINFO_LABEL"
			   description ="COM_VISFORMS_FIELD_GOTSUBUPDATEINFO_DESC"/>
		<field name="demoFormInstalled" type="hidden" default="" size="30"
			   label="COM_VISFORMS_FIELD_PDF_DEMO_INSTALLED_LABEL"
			   description ="COM_VISFORMS_FIELD_PDF_DEMO_INSTALLED_DESC"/>
	</fieldset>
	<fieldset name="visform-email-details" label="COM_VISFORMS_FIELDSET_EMAIL">
		<field type="spacer" name="a2" label="COM_VISFORMS_CONFIG_USE_DESCRIPTION" />
        <fields name="emailresultsettings">
		<field type="spacer" name="emailresultspacer" class="text"
			   label="COM_VISFORMS_EMAIL_RESULT_LABEL"
		/>
		<field name="emailresultincfield" type="radio"
			   class="btn-group btn-group-yesno switcher"
			   label="COM_VISFORMS_INCLUDE_DATA"
			   description="COM_VISFORMS_INCLUDE_DATA_DESC"
			   default="1"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="emailresulthideemptyfields" type="radio"
			   class="btn-group btn-group-yesno switcher"
			   label="COM_VISFORMS_HIDE_EMPTY_FIELDS_LABEL"
			   description="COM_VISFORMS_HIDE_EMPTY_FIELDS_DESC"
			   default="0"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="emailresultincdatarecordid" type="radio"
			   class="btn-group btn-group-yesno switcher"
			   label="COM_VISFORMS_INCLUDE_DATA_RECORD_ID"
			   description="COM_VISFORMS_INCLUDE_DATA_RECORD_ID_DESC"
			   default="1"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="emailresultinccreated" type="radio"
			   class="btn-group btn-group-yesno switcher"
			   label="COM_VISFORMS_INCLUDE_CREATED"
			   description="COM_VISFORMS_INCLUDE_CREATED_DESC"
			   default="1"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="emailresultincformtitle" type="radio"
			   class="btn-group btn-group-yesno switcher"
			   label="COM_VISFORMS_INCLUDE_FORM_TITLE"
			   description="COM_VISFORMS_INCLUDE_FORM_TITLE_DESC"
			   default="1"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="emailresultincip" type="radio"
			   class="btn-group btn-group-yesno switcher"
			   label="COM_VISFORMS_INCLUDE_USER_IP"
			   description="COM_VISFORMS_INCLUDE_USER_IP_DESC"
			   default="1"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="receiptmailaslink" type="radio"
			   class="btn-group btn-group-yesno switcher"
			   label="COM_VISFORMS_RECEIPT_MAIL_AS_LINK_LABEL"
			   description="COM_VISFORMS_RECEIPT_MAIL_AS_LINK_DESC"
			   default="0"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="emailresultincfile" type="radio"
			   class="btn-group btn-group-yesno switcher"
			   label="COM_VISFORMS_INCLUDE_FILE_UPLOAD_FILES"
			   description="COM_VISFORMS_INCLUDE_FILE_UPLOAD_FILES_DESC"
			   default="0"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
        </fields>
        <fields name="emailreceiptsettings">
		<field type="spacer" name="emailrecipientspacerhr" hr="true"/>
		<field type="spacer" name="emailrecipientspacer" class="text"
			   label="COM_VISFORMS_EMAIL_RECIEPENT_LABEL"
		/>
		<field name="emailreceiptincfield" type="radio"
			   class="btn-group btn-group-yesno switcher"
			   label="COM_VISFORMS_INCLUDE_DATA"
			   description="COM_VISFORMS_INCLUDE_DATA_DESC"
			   default="0"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="emailreceipthideemptyfields" type="radio"
			   class="btn-group btn-group-yesno switcher"
			   label="COM_VISFORMS_HIDE_EMPTY_FIELDS_LABEL"
			   description="COM_VISFORMS_HIDE_EMPTY_FIELDS_DESC"
			   default="0"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="emailreceiptincdatarecordid" type="radio"
			   class="btn-group btn-group-yesno switcher"
			   label="COM_VISFORMS_INCLUDE_DATA_RECORD_ID"
			   description="COM_VISFORMS_INCLUDE_DATA_RECORD_ID_DESC"
			   default="1"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="emailrecipientincfilepath" type="radio"
			   class="btn-group btn-group-yesno switcher"
			   label="COM_VISFORMS_SHOW_DOWNLOADPATH"
			   description="COM_VISFORMS_SHOW_DOWNLOADPATH_DESC"
			   default="0"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="emailreceiptinccreated" type="radio"
			   class="btn-group btn-group-yesno switcher"
			   label="COM_VISFORMS_INCLUDE_CREATED"
			   description="COM_VISFORMS_INCLUDE_CREATED_DESC"
			   default="1"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="emailreceiptincformtitle" type="radio"
			   class="btn-group btn-group-yesno switcher"
			   label="COM_VISFORMS_INCLUDE_FORM_TITLE"
			   description="COM_VISFORMS_INCLUDE_FORM_TITLE_DESC"
			   default="1"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="emailreceiptincip" type="radio"
			   class="btn-group btn-group-yesno switcher"
			   label="COM_VISFORMS_INCLUDE_USER_IP"
			   description="COM_VISFORMS_INCLUDE_USER_IP_DESC"
			   default="1"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="emailreceiptincfile" type="radio"
			   class="btn-group btn-group-yesno switcher"
			   label="COM_VISFORMS_INCLUDE_FILE_UPLOAD_FILES"
			   description="COM_VISFORMS_INCLUDE_FILE_UPLOAD_FILES_DESC"
			   default="0"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
        </fields>
	</fieldset>
	<fieldset name="visform-spamprotection" label="COM_VISFORMS_SPAMPROTECTION">
		<field type="spacer" name="a3" label="COM_VISFORMS_CONFIG_USE_DESCRIPTION" />
        <fields name="spamprotection">
		<field type="spacer" name="spambotcheckspacer" class="text"
			   label="COM_VISFORMS_SPAMBOTCHECK_SPACER_LABEL"
		/>
		<field name="spambotcheck" type="radio"
			   class="btn-group btn-group-yesno switcher"
			   label="COM_VISFORMS_USE_SPAMBOTCHECK"
			   description="COM_VISFORMS_USE_SPAMBOTCHECK_DESC"
			   default="1"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="spbot_check_ip" type="radio" class="btn-group btn-group-yesno switcher"
			   default="1" label="PLG_VISFORMS_SPAMBOTCHECK_CHECK_IP"
			   description="PLG_VISFORMS_SPAMBOTCHECK_CHECK_IP_DESC">
			<option value="0">JNo</option>
			<option value="1">JYes</option>
		</field>
		<field name="spbot_check_email" type="radio" class="btn-group btn-group-yesno switcher"
			   default="1" label="PLG_VISFORMS_SPAMBOTCHECK_CHECK_E_MAIL"
			   description="PLG_VISFORMS_SPAMBOTCHECK_CHECK_EMAIL_DESC">
			<option value="0">JNo</option>
			<option value="1">JYes</option>
		</field>
		<field type="spacer" name="spambotbasicspacerhr" hr="true"/>
		<field name="spbot_stopforumspam" type="radio" class="btn-group btn-group-yesno switcher"
			   default="1" label="PLG_VISFORMS_SPAMBOTCHECK_STOPFORUMSPAM"
			   description="PLG_VISFORMS_SPAMBOTCHECK_STOPFORUMSPAM_DESC">
			<option value="0">JNo</option>
			<option value="1">JYes</option>
		</field>
		<field name="spbot_stopforumspam_max_allowed_frequency" type="text" default="0" size="25"
			   label="PLG_VISFORMS_SPAMBOTCHECK_ALLOWED_FREQUENCY"
			   description="PLG_VISFORMS_SPAMBOTCHECK_STOPFORUMSPAM_FREQUENCY_DESC"/>
		<field type="spacer" name="spambotsfsspacerhr" hr="true"/>
		<field name="spbot_projecthoneypot" type="radio"
			   class="btn-group btn-group-yesno switcher" default="0" label="PLG_VISFORMS_SPAMBOTCHECK_PROJECTHONEYPOT"
			   description="PLG_VISFORMS_SPAMBOTCHECK_PROJECTHONEYPOT_DESC">
			<option value="0">JNo</option>
			<option value="1">JYes</option>
		</field>
		<field name="spbot_projecthoneypot_api_key" type="text" default="" size="25"
			   label="PLG_VISFORMS_SPAMBOTCHECK_DNS_PROJECTPHONEYPOT_ORG_KEY"
			   description="PLG_VISFORMS_SPAMBOTCHECK_DNS_PROJECTPHONEYPOT_DESC"/>
		<field name="spbot_projecthoneypot_max_allowed_threat_rating" type="text" default="0" size="25"
			   label="PLG_VISFORMS_SPAMBOTCHECK_ALLOWED_THREAT_RATING"
			   description="PLG_VISFORMS_SPAMBOTCHECK_PHP_THREAT_RATING_DESC"/>
		<field type="spacer" name="spambotpjpspacerhr" hr="true"/>
		<field name="spbot_sorbs" type="radio" class="btn-group btn-group-yesno switcher" default="0"
			   label="PLG_VISFORMS_SPAMBOTCHECK_DNS_SORBS"
			   description="PLG_VISFORMS_SPAMBOTCHECK_DNS_SORBS_DESC">
			<option value="0">JNo</option>
			<option value="1">JYes</option>
		</field>
		<field type="spacer" name="spambotsorbsspacerhr" hr="true"/>
		<field name="spbot_spamcop" type="radio" class="btn-group btn-group-yesno switcher" default="1"
			   label="PLG_VISFORMS_SPAMBOTCHECK_DNS_SCAMPCOP"
			   description="PLG_VISFORMS_SPAMBOTCHECK_DNS_SCAMPCOP_DESC">
			<option value="0">JNo</option>
			<option value="1">JYes</option>
		</field>
		<field type="spacer" name="spambotcheckspacerhr" hr="true"/>
		<field name="allow_generic_email_check" type="radio" default="0"
			   label="PLG_VISFORMS_SPAMBOTCHECK_ALLOW_GENERIC_EMAIL"
			   description="PLG_VISFORMS_SPAMBOTCHECK_ALLOW_GENERIC_EMAIL_DESC" class="btn-group btn-group-yesno switcher">
			<option value="0">JNo</option>
			<option value="1">JYes</option>
		</field>
			<field type="spacer" name="spambotcheckwlhr" label="PLG_VISFORMS_SPAMBOTCHECK_EMAIL_WHITELIST_DESC"/>
		<field name="spbot_whitelist_email" type="textarea" default=""
			   label="PLG_VISFORMS_SPAMBOTCHECK_E_MAIL_WHITELIST"
			   description="PLG_VISFORMS_SPAMBOTCHECK_EMAIL_WHITELIST_DESC2" rows="10" cols="25" />
		<field name="spbot_whitelist_ip" type="textarea" default="" rows="10" cols="25"
			   label="PLG_VISFORMS_SPAMBOTCHECK_IP_WHITELIST"
			   description="PLG_VISFORMS_SPAMBOTCHECK_IP_WHITELIST_DESC"/>
		<field name="spbot_blacklist_email" type="textarea" default=""
			   label="PLG_VISFORMS_SPAMBOTCHECK_EMAIL_BLACKLIST"
			   description="PLG_VISFORMS_SPAMBOTCHECK_EMAIL_BLACKLIST_DESC" rows="10" cols="50"/>
		<field name="spbot_log_to_db" type="radio" class="btn-group btn-group-yesno switcher" default="0"
			   label="PLG_VISFORMS_SPAMBOTCHECK_LOG_SPAMBOT_TO_DB"
			   description="PLG_VISFORMS_SPAMBOTCHECK_LOG_SPAMERS_TO_DB_DESC">
			<option value="0">JNo</option>
			<option value="1">JYes</option>
		</field>
        </fields>
		<field type="spacer" name="captchaspacerhr" hr="true"/>
		<field type="spacer" name="captchaspacer" class="text"
			   label="COM_VISFORMS_CAPTCHASPACER_LABEL"
		/>
		<field name="captcha" type="list"
			   label="COM_VISFORMS_USE_CAPTCHA"
			   description="COM_VISFORMS_USE_CAPTCHA_DESC"
			   default="0"
		>
			<option value="0">COM_VISFORMS_CAPTCHA_NONE</option>
			<option value="1">COM_VISFORMS_CAPTCHA_VISCAPTCHA</option>
			<option value="2">COM_VISFORMS_CAPTCHA_RECAPTCHA</option>
		</field>
        <fields name="captchaoptions">
		<field name="captchalabel" type="text" label="COM_VISFORMS_CAPTCHA_LABEL"
			   description="COM_VISFORMS_CAPTCHA_LABEL_DESC" class="inputbox" size="50" maxlength="250"
			   default="Captcha"/>

		<field name="showcaptchalabel" label="COM_VISFORMS_SHOW_CAPTCHA_LABEL"
			   type="list" class="inputbox" default="0">
			<option value="0">COM_VISFORMS_SHOW_LABEL_SHOW</option>
			<option value="1">COM_VISFORMS_SHOW_LABEL_HIDE</option>
		</field>

		<field name="captchacustominfo" type="text" label="COM_VISFORMS_CAPTCHA_TIPS_TEXT"
			   description="COM_VISFORMS_CAPTCHA_TIPS_TEXT_DESC" class="inputbox" size="50" maxlength="250"/>

		<field name="captchacustomerror" type="text" label="COM_VISFORMS_CAPTCHA_CUSTOM_ERROR_TEXT"
			   description="COM_VISFORMS_CAPTCHA_CUSTOM_ERROR_TEXT_DESC" class="inputbox" size="50"
			   maxlength="250"/>
        </fields>
        <fields name="viscaptchaoptions">
		<field type="spacer" name="visformscaptchaobptionsspacerhr" hr="true"/>
		<field type="spacer" name="visformscaptchaoptionsspacer" class="text"
			   label="COM_VISFORMS_VISFORMSCAPTCHAOPTIONSSPACER_LABEL"
		/>
		<field name="image_width" type="text" label="COM_VISFORMS_VCCAPTCHA_IMAGE_WIDTH"
			   description="COM_VISFORMS_VCCAPTCHA_IMAGE_WIDTH_DESC" class="inputbox" size="50" default="215"
			   maxlength="10"/>
		<field name="image_height" type="text" label="COM_VISFORMS_VCCAPTCHA_IMAGE_HEIGHT"
			   description="COM_VISFORMS_VCCAPTCHA_IMAGE_HEIGHT_DESC" class="inputbox" size="50" default="80"
			   maxlength="10"/>
		<field name="image_bg_color" type="color" label="COM_VISFORMS_VCCAPTCHA_BGCOLOR"
			   description="COM_VISFORMS_VCCAPTCHA_BGCOLOR_DESC" class="inputbox" size="50" default="#ffffff"/>
		<field name="text_color" type="color" label="COM_VISFORMS_VCCAPTCHA_FONTCOLOR"
			   description="COM_VISFORMS_VCCAPTCHA_FONTCOLOR_DESC" class="inputbox" size="50" default="#616161"/>
		<field name="line_color" type="color" label="COM_VISFORMS_VCCAPTCHA_LINECOLOR"
			   description="COM_VISFORMS_VCCAPTCHA_LINECOLOR_DESC" class="inputbox" size="50" default="#616161"/>
		<field name="noise_color" type="color" label="COM_VISFORMS_VCCAPTCHA_NOISECOLOR"
			   description="COM_VISFORMS_VCCAPTCHA_NOISECOLOR_DESC" class="inputbox" size="50" default="#616161"/>
		<field name="text_transparency_percentage" type="text" label="COM_VISFORMS_VCCAPTCHA_TEXT_TRANSP"
			   description="COM_VISFORMS_VCCAPTCHA_TEXT_TRANSP_DESC" class="inputbox" size="50" default="50"
			   maxlength="3"/>
		<field name="use_transparent_text" label="COM_VISFORMS_VCCAPTCHA_USE_TEXT_TRANSP"
			   description="COM_VISFORMS_VCCAPTCHA_USE_TEXT_TRANSP_DESC"
			   type="radio" class="btn-group btn-group-yesno switcher" default="0">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="code_length" type="integer" label="COM_VISFORMS_VCCAPTCHA_CODELENGTH"
			   description="COM_VISFORMS_VCCAPTCHA_CODELENGTH_DESC" size="50" default="6" first="1" last="10"
			   step="1"/>
		<field name="case_sensitive" label="COM_VISFORMS_VCCAPTCHA_CASE_SENSITIVE"
			   description="COM_VISFORMS_VCCAPTCHA_CASE_SENSITIVE_DESC"
			   type="radio" class="btn-group btn-group-yesno switcher" default="0">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="perturbation" type="text" label="COM_VISFORMS_VCCAPTCHA_DISTORTION"
			   description="COM_VISFORMS_VCCAPTCHA_DISTORTION_DESC" class="inputbox" size="50" default="0.75"/>
		<field name="num_lines" type="integer" label="COM_VISFORMS_VCCAPTCHA_LINENUMBER"
			   description="COM_VISFORMS_VCCAPTCHA_LINENUMBER_DESC" size="50" default="8" first="1" last="10"
			   step="1"/>
		<field name="captcha_type" label="COM_VISFORMS_SHOW_CAPTCHA_TYPE"
			   type="list" class="inputbox" default="0">
			<option value="0">COM_VISFORMS_VCCAPTCHA_TYPE_TEXT</option>
			<option value="1">COM_VISFORMS_VCCAPTCHA_TYPE_MATH</option>
		</field>
        </fields>
	</fieldset>
	<fieldset name="visform-advanced-details" label="COM_VISFORMS_FIELDSET_ADVANCED">
		<field type="spacer" name="a4" label="COM_VISFORMS_CONFIG_USE_DESCRIPTION" />
		<field name="hasMap" type="aef" feature="15" default="0"
			   addfieldpath="components/com_visforms/models/fields"/>
		<field name="hasSub" type="aef" feature="12" default="0"
			   addfieldpath="components/com_visforms/models/fields"/>
		<field name="googleMapApiKey" type="text" label="COM_VISFORMS_GOOGLE_MAPS_API_KEY"
			   description="COM_VISFORMS_GOOGLE_MAPS_API_KEY_DESCR" default=""
			   showon="hasMap:1"
		/>
		<field name="hideHelpBadges" type="radio"
			   class="btn-group btn-group-yesno switcher"
			   label="COM_VISFORMS_HIDE_HELP_BADGES_LABEL"
			   description="COM_VISFORMS_HIDE_HELP_BADGES_DESCR"
			   default="0"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="frontendauotcheckintime" type="text"
			   class="inputbox" size="50"
			   label="COM_VISFORMS_FRONTEND_AUTO_CHECKIN"
			   description="COM_VISFORMS_FRONTEND_AUTO_CHECKIN_DESCR"
			   default="0"
			   showon="hasSub:1"
			   filter="int"
		/>
        <fields name="exportsettings">
		<field type="spacer" name="exportspacer" class="text"
			   label="COM_VISFORMS_EXPORT_SPACER_LABEL"
		/>
		<field name="includeheadline" type="radio"
			   class="btn-group btn-group-yesno switcher"
			   label="COM_VISFORMS_EXPORT_INCLUDE_HEADLINE"
			   description="COM_VISFORMS_EXPORT_INCLUDE_HEADLINE_DESCR"
			   default="1"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field name="exppublishfieldsonly" type="radio"
			   class="btn-group btn-group-yesno switcher"
			   label="COM_VISFORMS_EXPORT_PUBLISHED_FIELDS_ONLY"
			   description="COM_VISFORMS_EXPORT_PUBLISHED_FIELDS_ONLY_DESC"
			   default="1"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="exppublisheddataonly" type="radio"
			   class="btn-group btn-group-yesno switcher"
			   label="COM_VISFORMS_EXPORT_PUBLISHED_DATA_ONLY"
			   description="COM_VISFORMS_EXPORT_PUBLISHED_DATA_ONLY_DESC"
			   default="1"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="expfieldpublished" type="radio"
			   class="btn-group btn-group-yesno switcher"
			   label="COM_VISFORMS_EXPORT_FIELD_PUBLISHED"
			   description="COM_VISFORMS_EXPORT_FIELD_PUBLISHED_DESC"
			   default="0"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="expfieldip" type="radio"
			   class="btn-group btn-group-yesno switcher"
			   label="COM_VISFORMS_EXPORT_FIELD_IP"
			   description="COM_VISFORMS_EXPORT_FIELD_IP_DESC"
			   default="0"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="expfieldcreated" type="radio"
			   class="btn-group btn-group-yesno switcher"
			   label="COM_VISFORMS_EXPORT_FIELD_CREATED"
			   description="COM_VISFORMS_EXPORT_FIELD_CREATED_DESC"
			   default="0"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="expfieldcreatedby" type="radio"
			   class="btn-group btn-group-yesno switcher"
			   label="COM_VISFORMS_EXPORT_FIELD_CREATED_BY"
			   description="COM_VISFORMS_EXPORT_FIELD_CREATED_BY_DESC"
			   default="0"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="expfieldismfd" type="radio"
			   class="btn-group btn-group-yesno switcher"
			   label="COM_VISFORMS_EXPORT_FIELD_MODIFIED"
			   description="COM_VISFORMS_EXPORT_FIELD_MODIFIED_DESC"
			   default="0"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="expfieldid" type="radio"
			   class="btn-group btn-group-yesno switcher"
			   label="COM_VISFORMS_EXPORT_FIELD_ID"
			   description="COM_VISFORMS_EXPORT_FIELD_ID_DESC"
			   default="0"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="usewindowscharset" type="radio"
			   class="btn-group btn-group-yesno switcher"
			   label="COM_VISFORMS_EXPORT_CHARSET"
			   description="COM_VISFORMS_EXPORT_CHARSET_DESC"
			   default="1"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="expseparator" type="list"
			   class="btn-group btn-group-yesno switcher"
			   label="COM_VISFORMS_EXPORT_SEPARATOR"
			   description="COM_VISFORMS_EXPORT_SEPARATOR_DESC"
			   default=";"
		>
			<option value=";">COM_VISFORMS_SEMICOLON</option>
			<option value=",">COM_VISFORMS_KOMMA</option>
		</field>
        </fields>
	</fieldset>
	<fieldset name="visform-frontend-details" label="COM_VISFORMS_FIELDSET_FRONTEND">
		<field type="spacer" name="a5" label="COM_VISFORMS_CONFIG_USE_DESCRIPTION" />
        <field name="ownrecordsonly" type="radio"
               class="switcher"
               label="COM_VISFORMS_FRONTEND_DATA_VIEW_OWN_RECORDS_ONLY_LABEL"
               description="COM_VISFORMS_FRONTEND_DATA_VIEW_OWN_RECORDS_ONLY_DESCR"
               default="0"
               showon="hasSub:1"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <fields name="frontendsettings">
			<field name="allowfedv" type="radio"
				   class="switcher"
				   label="COM_VISFORMS_ALLOW_FRONTEND_DATA_VIEW"
				   description="COM_VISFORMS_ALLOW_FRONTEND_DATA_VIEW_DESC"
				   default="0"
			>
				<option value="0">JNO</option>
				<option value="1">JYES</option>
			</field>
			<field name="frontendaccess" type="accesslevel"
				   label="COM_VISFORMS_FRONTEND_ACCESS_LEVEL" description="COM_VISFORMS_FRONTEND_ACCESS_LEVEL_DESC"
				   class="inputbox" size="1" default="1"
			/>
			<field name="displayip" type="list"
				   label="COM_VISFORMS_DISPLAY_IP"
				   description="COM_VISFORMS_DISPLAY_IP_DESC"
				   default="0"
			>
				<option value="0">COM_VISFORMS_FIELD_FRONTDISPLAY_NONE</option>
				<option value="1">COM_VISFORMS_FIELD_FRONTDISPLAY_BOTH</option>
				<option value="2">COM_VISFORMS_FIELD_FRONTDISPLAY_LIST_ONLY</option>
				<option value="3">COM_VISFORMS_FIELD_FRONTDISPLAY_DETAIL_ONLY</option>
			</field>
			<field name="displayid" type="list"
				   label="COM_VISFORMS_DISPLAY_ID"
				   description="COM_VISFORMS_DISPLAY_ID_DESC"
				   default="0"
			>
				<option value="0">COM_VISFORMS_FIELD_FRONTDISPLAY_NONE</option>
				<option value="1">COM_VISFORMS_FIELD_FRONTDISPLAY_BOTH</option>
				<option value="2">COM_VISFORMS_FIELD_FRONTDISPLAY_LIST_ONLY</option>
				<option value="3">COM_VISFORMS_FIELD_FRONTDISPLAY_DETAIL_ONLY</option>
			</field>
			<field name="displaycreated" type="list"
				   label="COM_VISFORMS_DISPLAY_CREATED"
				   description="COM_VISFORMS_DISPLAY_CREATED_DESCR"
				   default="0"
			>
				<option value="0">COM_VISFORMS_FIELD_FRONTDISPLAY_NONE</option>
				<option value="1">COM_VISFORMS_FIELD_FRONTDISPLAY_BOTH</option>
				<option value="2">COM_VISFORMS_FIELD_FRONTDISPLAY_LIST_ONLY</option>
				<option value="3">COM_VISFORMS_FIELD_FRONTDISPLAY_DETAIL_ONLY</option>
			</field>
			<field name="displaycreatedtime" type="list"
				   label="COM_VISFORMS_DISPLAY_CREATED_TIME"
				   description="COM_VISFORMS_DISPLAY_CREATED_TIME_DESCR"
				   default="0"
			>
				<option value="0">COM_VISFORMS_FIELD_FRONTDISPLAY_NONE</option>
				<option value="1">COM_VISFORMS_FIELD_FRONTDISPLAY_BOTH</option>
				<option value="2">COM_VISFORMS_FIELD_FRONTDISPLAY_LIST_ONLY</option>
				<option value="3">COM_VISFORMS_FIELD_FRONTDISPLAY_DETAIL_ONLY</option>
			</field>
            <field name="displayismfd" type="list"
                   label="COM_VISFORMS_DISPLAY_ISMFD"
                   description="COM_VISFORMS_DISPLAY_ISMFD_DESC"
                   default="0"
            >
                <option value="0">COM_VISFORMS_FIELD_FRONTDISPLAY_NONE</option>
                <option value="1">COM_VISFORMS_FIELD_FRONTDISPLAY_BOTH</option>
                <option value="2">COM_VISFORMS_FIELD_FRONTDISPLAY_LIST_ONLY</option>
                <option value="3">COM_VISFORMS_FIELD_FRONTDISPLAY_DETAIL_ONLY</option>
            </field>
            <field name="displaymodifiedat" type="list"
                   label="COM_VISFORMS_DISPLAY_MODIFIED_AT"
                   description="COM_VISFORMS_DISPLAY_MODIFIED_AT_DESCR"
                   default="0"
            >
                <option value="0">COM_VISFORMS_FIELD_FRONTDISPLAY_NONE</option>
                <option value="1">COM_VISFORMS_FIELD_FRONTDISPLAY_BOTH</option>
                <option value="2">COM_VISFORMS_FIELD_FRONTDISPLAY_LIST_ONLY</option>
                <option value="3">COM_VISFORMS_FIELD_FRONTDISPLAY_DETAIL_ONLY</option>
            </field>
            <field name="displaymodifiedattime" type="list"
                   label="COM_VISFORMS_DISPLAY_MODIFIED_AT_TIME"
                   description="COM_VISFORMS_DISPLAY_MODIFIED_AT_TIME_DESCR"
                   default="0"
            >
                <option value="0">COM_VISFORMS_FIELD_FRONTDISPLAY_NONE</option>
                <option value="1">COM_VISFORMS_FIELD_FRONTDISPLAY_BOTH</option>
                <option value="2">COM_VISFORMS_FIELD_FRONTDISPLAY_LIST_ONLY</option>
                <option value="3">COM_VISFORMS_FIELD_FRONTDISPLAY_DETAIL_ONLY</option>
            </field>
			<field name="displaydetail" type="radio"
				   class="btn-group btn-group-yesno switcher"
				   label="COM_VISFORMS_DISPLAY_DATA_DETAIL"
				   description="COM_VISFORMS_DISPLAY_DATA_DETAIL_DESC"
				   default="0"
			>
				<option value="1">JYES</option>
				<option value="0">JNO</option>
			</field>
			<field name="detaillinkitem" type="radio" label="COM_VISFORMS_DATA_DETAIL_LINK_ICON_LABEL"
				   description="COM_VISFORMS_DATA_DETAIL_LINK_ICON_DESC" default="download">
				<option value="download">COM_VISFORMS_ICON_DOWNLOAD</option>
				<option value="eye">COM_VISFORMS_ICON_EYE</option>

			</field>
			<field name="autopublish" type="radio"
				   class="btn-group btn-group-yesno switcher"
				   label="COM_VISFORMS_AUTO_PUBLISH_DATA"
				   description="COM_VISFORMS_AUTO_PUBLISH_DATA_DESC"
				   default="0"
			>
				<option value="1">JYES</option>
				<option value="0">JNO</option>
			</field>
        </fields>
	</fieldset>
	<fieldset
			name="permissions"
			label="JCONFIG_PERMISSIONS_LABEL"
			description="JCONFIG_PERMISSIONS_DESC"
	>
		<field
				name="rules"
				type="rules"
				label="JCONFIG_PERMISSIONS_LABEL"
				class="inputbox"
				validate="rules"
				filter="rules"
				component="com_visforms"
				section="component"
		/>
	</fieldset>
</config>